@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the thumb */
  border-radius: 10px; /* Optional: add rounded corners */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change the color when hovered */
}
.container {
  width: 85vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
